html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: white;
}
ul, li {
    display: inline;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

header {
    background: -webkit-linear-gradient(135deg, #9800ff 20%,#5818e2 50%,#0033ff 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 20px 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 8px 17px 2px rgba(0,0,0,0.14) , 0px 3px 14px 2px rgba(0,0,0,0.12) , 0px 5px 5px -3px rgba(0,0,0,0.2) ;
}
.header-logo {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: 700;
    margin: 25px 30px;
    width: 100%;
    transition: 1s;
    text-shadow: 0px 3px 0px#000000,
                 0px 14px 10px rgba(0,0,0,0.15);
}
.header-logo:hover {
    transform: translateY(-3px);
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1060px) {
    .menu {
        display: none;
    }
    .header-logo {
        text-align: center;
    }
}

.menu-button {
    font-size: 15px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    color: white;
    border-radius: 30px;
    border: none;
    margin: 25px 15px;
    padding: 5px 30px;
    transition: 0.5s;
}

.menu-button:hover {
    background-color: white;
    color: black;
}

.top-decoration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 50px 0;
}

.top-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}
.top-intro-text1 {
    color: black;
    font-size: 40px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    transition: 1s;
    margin: 30px 0 30px 0;
    text-shadow: 0px 1px 0px #000000,
                 0px 6px 10px rgba(0,0,0,0.15),
                 0px 11px 2px rgba(0,0,0,0.1),
                 0px 16px 30px rgba(0,0,0,0.1);
}
.top-intro-text1:hover {
    transform: translateY(-3px);
}
.top-intro-text2 {
    color: black;
    font-size: 25px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 30px 0 30px 0;
}

.main-image {
    width: 500px;
    max-width: 100%;
    border-radius: 50px;
}
@media (min-width:900px) {
    .top-decoration {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 100px 50px;
    }
    .main-image {
        width: 600px;
        max-width: 100%;
        height: auto;
        border-radius: 50px;
    }
    .header-logo {
        font-size: 45px;
    }
    .menu-button {
        font-size: 20px;
    }
}
@media(min-width: 1200px) {
    .main-image {
        width: 700px;
        max-width: 100%;
        height: auto;
    }
    .top-intro-text1 {
        font-size: 60px;
    }
    .top-intro-text2 {
        font-size: 30px;
    }
}
.about-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px 150px 50px;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-header {
    display: block;
    color: black;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    transition: 1s;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 40px;
}
#about-header:hover {
    transform: scale(1.01) translateY(-2px);
}
.about-intro {
    color: black;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 30px;
    transition: 1s;
}

.about-description {
    color: black;
    font-size: 20px;
    font-weight: 150;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    line-height: normal;
    margin-bottom: 50px;
    max-width: 100%;
}
.about-video {
    display: inline-block;
    width: 100%;
    max-width: 500px;
    height: 100%;
}
/* .about-image {
    display: inline-block;
    width: 600px;
    max-width: 100%;
    height: 100%;
} */
@media (min-width:450px) {
    #about-header {
        font-size: 60px;
    }
    .about-intro {
        font-size: 40px;
    }
    .about-description {
        font-size: 30px;
    }
}
@media(min-width: 1100px) {
    .about-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 50px 150px 50px;
    }
    .about-video {
        margin-left: 50px;
    }
}

#services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 50px 150px 50px;
    padding-top: 30px;
}
.services-header {
    color: black;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    margin-bottom: 40px;
    text-align: center;
    transition: 1s;
}
.services-header:hover {
    transform: scale(1.01) translateY(-3px);
}
@media (min-width:450px) {
    .services-header {
        font-size: 60px;
    }
}
.pricing-panel {
    background-color: white;	
    border-radius: 10px;
    border: 2px solid black;
	padding: 15px 15px;
	width: 100%;
	max-width: 860px;
	display: flex;
	flex-direction: column;
	text-align: center;
	text-transform: uppercase;
}
.pricing-plan {
	border-bottom: 0.5px solid black;
	padding: 50px 0;
}
.pricing-plan:last-child {
	border-bottom: transparent;
}
.pricing-img {
	border-radius: 25%;
	margin-bottom: 5px;
    width: 400px;
	max-width: 100%;
    height: auto;
}
.pricing-header {
	color: black;
	font-size: 25px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	margin: 15px 0;
    transition: 1s;
}
.pricing-header:hover {
    transform: translateY(-1px);
}
.pricing-features {
	color: black;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 350;
	margin: 15px 0;
    display: flex;
    flex-direction: column;
}
.pricing-item {
	margin: 0 0 5px 0;
}

.pricing-price {
	background: -webkit-linear-gradient(135deg, #9800ff 20%,#5818e2 50%,#0033ff 100%);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 50px;
	margin: 20px 0;
	transition: 1s;
    /* text-shadow: 1px 1px 1px rgba(0,0,0,0.3); */
}
.pricing-price:hover {
	transform: scale(1.05);
}
.pricing-button {
	display: inline-block;
	text-decoration: none;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	padding: 10px 30px;
	margin: 15px 0;
	background-color: black;
	color: white;
	/* border: 1px solid black; */
	border-radius: 5px;
	box-shadow: 0px 16px 24px 2px rgba(0,0,0,0.14) , 0px 6px 30px 5px rgba(107, 92, 92, 0.12) , 0px 8px 10px -7px rgba(0,0,0,0.2);
	transition: 1s;
}

.pricing-button:hover {
	color: black;
	background-image: none;
	background-color: white;
	border: 1px solid black;
	transform: scale(1.01) translateY(-5px);
}

@media(min-width:768px){
	.pricing-panel {
		flex-direction: row;
	}
	.pricing-plan {
		border-bottom: none;
		border-right: 0.5px solid black;
		padding: 15px 30px;
	}
	.pricing-plan:last-child {
		border: transparent;
	}
    .pricing-img {
        max-width: 100%;
        height: auto;
    }
}
.previous-work-header {
    color: black;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    margin-bottom: 70px;
    padding-top: 80px;
    text-align: center;
    transition: 1s;
}
.previous-work-header:hover {
    transform: scale(1.01) translateY(-3px);
}

#previous-work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
}

.previous-work-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    width: 100%;
    max-width: 960px;
}

.previous-work-image {
    width: 400px;
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 50px;
    transition: 1s;
}
.previous-work-image:hover {
    transform: scale(1.05);
}
.previous-work-image-header {
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    background-color: black;
    transition: 1s;
}
.previous-work-image-header:hover {
    transform: scale(1.01) translateY(-3px);
}
@media (min-width:450px) {
    .previous-work-header {
        font-size: 60px;
    }
    .previous-work-image-header {
        font-size: 30px;
    }
}
@media(min-width:1350px) {
    #previous-work {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 50px;
    }
    .previous-work-content:nth-of-type(2) {
        transform: translateY(-30px);
    }
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px 50px;
    padding-top: 80px;
}
.contact-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px 0 100px;
    width: 100%;
}
.contact-header {
    color: #000000;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    transition: 1s;
    text-align: center;
    margin-bottom: 50px;
}
.contact-header:hover {
    transform: scale(1.01) translateY(-3px);
}

.contact-description {
    color: black;
    font-size: 25px;
    font-weight: 150;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-decoration: 2px underline black;
    margin-bottom: 50px;
    transition: 1s;
}
.contact-description:hover {
    transform: scale(1.3) rotateZ(720deg);
}
.contact-image {
    border-radius: 10px;
    width: 700px;
    max-width: 100%;
    height: auto;
    margin-bottom: 50px;
    min-width: 250px;
}
@media (min-width:450px) {
    .contact-header {
        font-size: 60px;
    }
    .contact-description {
        font-size: 35px;
        text-decoration: 3px underline black;
    }
}
.contact-form-header {
    color: white;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    transition: 1s;
    width: 100%;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    margin-bottom: 20px;
    text-align: center;
}
.contact-form-header:hover {
    transform: scale(1.01);
}
.contact-form {
    background: -webkit-linear-gradient(135deg, #9800ff 20%,#5818e2 50%,#0033ff 100%);
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    border-radius: 30px;
    width: 100%;
    max-width: 450px;
}
.form-input {
    display: block;
    color: black;
    background-color: white;
    text-transform: uppercase;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    border-radius: 30px;
    border: none;
    padding: 15px 25px;
    margin: 25px 0;
    resize: none;
}
::placeholder {
    color: black;
}
#form-submit {
    background-color: black;
    font-size: 10px;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    border-radius: 30px;
    border: none;
    padding: 15px 25px;
    margin: 25px 0;
    resize: none;
    transition: 1s;
    cursor: pointer;
}
#form-submit:hover {
    background-color: white;
    color: black;
}
@media (min-width:450px) {
    .contact-form-header {
        font-size: 50px;
    }
    .form-input {
        font-size: 20px;
    }
    #form-submit {
        font-size: 20px;
    }
}

@media (min-width:1300px){
    #contact {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 150px 50px;
        padding-top: 80px;
    }
    .contact-image {
        width: 1000px;
        max-width: 100%;
        height: auto;
        margin-bottom: 0;
    }
    .contact-form {
        margin-top: none;
    }
}

.socials-header {
    color: black;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-align: center;
    transition: 1s;
}
.socials-header:hover {
    transform: scale(1.01) translateY(-3px);
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 40px 50px;
}
.social-icons {
    color: black;
    font-size: 30px;
    transition: 1s;
}
.social-icons:hover {
    transform: scale(1.05) translateY(-3px);
}

.footer-copyright {
    color: black;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin: 15px 0 40px 0;
    transition: 1s;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer-copyright:hover {
    transform:translateY(-5px);
}
@media (min-width:450px) {
    .socials-header {
        font-size: 60px;
    }
    .social-icons {
        font-size: 50px;
    }
    .footer-copyright {
        font-size: 20px;
    }
}